/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-font-family: "IBM Plex Mono", monospace;
  --accent-color: #ff0070;
  --page-bg-color: #000028;
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: #ff007040;
  --page-heading-color: #000028;
  --section-heading-color: #ff0070;
  --border-color: #ff0070;
  --main-gap: 10px;
  --page-text-size: 18px;
  --page-text-weight: 700;
  --page-line-height: 1.3;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --rec-decor-visibility: visible;
  --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.theme-dark .rec-decor {
  display: inline-flex;
}
