/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--page-text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex Mono", monospace);
  font-size: var(--page-text-size, 18px);
  line-height: var(--page-line-height, 1.3);
  background-color: var(--page-bg-color, #000028);
}

.header {
  position: relative;
  align-items: center;
  min-block-size: 100vh;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
  background-image: var(--page-bg-image, url("../images/cover-image-dark.png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.rec-decor {
  position: absolute;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: var(--main-gap, 10px);
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: var(--page-line-height, 1.3);
  font-family: var(--page-font-family, "IBM Plex Mono", monospace);
}

.rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 30px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.header__theme-menu-button {
  font-weight: 400;
  line-height: var(--page-line-height, 1.3);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--nav-color, #ff0070);
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.page__title {
  font-size: var(
    --header-logo-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  color: var(--header-logo-color, #db00ff);
  font-weight: var(--page-text-weight, 700);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 83%;
  text-transform: lowercase;
}

.title {
  font-weight: var(--page-text-weight, 700);
  color: var(--section-heading-color, #ff0070);
  font-size: inherit;
  line-height: var(--page-line-height, 1.3);
  margin-block-start: 15px;
  font-style: normal;
}

.title-decor {
  color: var(--page-heading-color, #000028);
  background-color: var(--accent-color, #ff0070);
  align-self: start;
  margin-block-start: 20px;
}

.header__text {
  color: var(--page-heading-color, #000028);
  font-weight: var(--page-text-weight, 700);
  font-size: inherit;
  line-height: inherit;
  background-color: var(--accent-color, #ff0070);
  margin-block-start: 40px;
}

.main {
  display: grid;
  gap: 30px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: var(--main-gap, 10px);
}

.text {
  display: grid;
  gap: var(--main-gap, 10px);
}

.text__subtitle {
  font-weight: normal;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.card-list {
  display: grid;
  gap: var(--main-gap, 10px);
}

.card-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  place-items: center;
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width>=768px) {
  .main {
    display: grid;
    padding: 60px 20px;
    gap: calc(var(--main-gap) * 8);
  }

  .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__theme-menu-list {
    gap: 7px;
  }

  .header {
    padding-inline-start: 0;
  }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .section:not(:last-of-type) {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    column-gap: 20px;
  }

  .section-what__text-list {
    grid-column-start: span 2;
  }

  .section-how__text-list {
    grid-column-start: 2;
  }
  .section-how__title {
    margin-bottom: 0;
  }

  .section-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .card-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 10px;
  }

  .card-list__item:first-child {
    grid-column-start: span 2;
  }

  .card-list__item:nth-child(2),
  .card-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .card-list__item:last-child {
    grid-column-start: span 2;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .section-what__text-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
